.logo {
  background-color: var(--color-medium-purple);
  color: white;
  font-size: 2.5rem;
  left: 2rem;
  padding: 1rem;
  position: fixed;
  top: 2rem;
}

@media screen and (max-width: 960px) {
  .logo {
    font-size: 1.8rem;
    height: 7rem;
    margin: 2rem;
    padding: .8rem;
    position: static;
    width: 7.6rem;
  }
}
