.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
}

.chord {
  font-size: 10rem;
}
